body{
    font-weight:lighter;
    
}
.head{
    text-align: center;
    padding-bottom: 0px;
}

.bo{
    padding-left: 35%;
    
}
table, th, td {
    height: 50px;
    width: 500px;
    border: 3px solid rgb(72, 72, 72);
    border-radius: 5px;
    border-collapse: collapse;
    background-color: rgb(167, 167, 167);
    padding-left: 10px;
}


